
@{
    ViewBag.Title = "NewUser";
}

<h2>Please enter the requied info:</h2>

<br />

<form action="/Home/Registration" method="post">
    <label>First Name: </label> <input type="text" name="fname" class="form-control" />
    <label>Last Name: </label> <input type="text" name="lname" class="form-control" />
    <label>Email: </label> <input type="text" name="email" class="form-control" />
    <br/>
    <input type="submit" value="Register and View Menu" class="form-group-sm" />
</form>

